##Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

##Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

##Q3.Create a Pandas DataFrame that contains the following data:
Name           Age               Gender
Alice          25                Female
Bob            30                Male
Claire         27                Female

In [4]:
import pandas as pd

data = {
    'Name': ['Rutu', 'Rutik', 'sakshi'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0    Rutu   25  Female
1   Rutik   30    Male
2  sakshi   27  Female

 ##Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

 A DataFrame is a two-dimensional labeled data structure that represents a table-like structure with rows and columns. It is similar to a spreadsheet or a SQL table. Each column in a DataFrame can be of a different data type (e.g., numeric, string, boolean), and it allows for more complex data manipulations and operations compared to a Series.

In [5]:
import pandas as pd

# Example of a Series
series = pd.Series([4, 8, 15, 16, 23, 42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
import pandas as pd

data = {
    'Name': ['Rutu', 'Rutik', 'sakshi'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0    Rutu   25  Female
1   Rutik   30    Male
2  sakshi   27  Female

##Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Canyou give an example of when you might use one of these functions?

head(): Returns the first n rows of the DataFrame. It is useful to quickly inspect the data.

In [8]:
df.head(2)  # Returns the first 5 rows of the DataFrame

    Name  Age  Gender
0   Rutu   25  Female
1  Rutik   30    Male

tail(): Returns the last n rows of the DataFrame. It is useful to quickly inspect the end of the data.

In [10]:
df.tail(1)  # Returns the last 3 rows of the DataFrame

     Name  Age  Gender
2  sakshi   27  Female

shape: Returns a tuple representing the dimensions (rows, columns) of the DataFrame. It is useful to check the size of the DataFrame.

In [11]:
print(df.shape)  # Prints the dimensions of the DataFrame

(3, 3)

describe(): Generates descriptive statistics of the DataFrame, including count, mean, standard deviation, minimum, maximum, etc. It is useful for getting an overview of the data distribution.

In [12]:
print(df.describe())  # Prints descriptive statistics of the DataFrame

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

info(): Provides a summary of the DataFrame, including the column names, data types, and non-null values. It is useful for understanding the structure and data types of the DataFrame.

In [13]:
df.info()  # Prints the summary information of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

sort_values(): Sorts the DataFrame by one or more columns. It is useful for ordering the data based on specific criteria.

In [14]:
sorted_df = df.sort_values('Age')  # Sorts the DataFrame by the 'Age' column

groupby(): Groups the DataFrame by one or more columns and performs aggregate operations on the groups. It is useful for analyzing data based on categories or groups.

In [15]:
grouped_df = df.groupby('Gender')['Age'].mean()  # Calculates the mean age for each gender

drop(): Removes specified rows or columns from the DataFrame. It is useful for deleting unnecessary data.

In [18]:
cleaned_df = df.drop(['Age', 'Gender'], axis=1)  # Drops 'age' and '' from Gender the DataFrame

##Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series: A Series in pandas is mutable, meaning its values can be modified or updated after creation. You can change the values of a Series by assigning new values to specific indices or slices.

DataFrame: Similarly, a DataFrame is mutable. You can modify or update the values in a DataFrame by assigning new values to specific cells, columns, or rows.

Panel: However, Panel is no longer recommended for use in pandas and is considered deprecated. Panels were a three-dimensional data structure in earlier versions of pandas but have been removed from the library starting from pandas version 0.20.0. Therefore, Panels are not mutable because they are no longer supported in the latest versions of pandas.

##Q7. Create a DataFrame using multiple Series. Explain with an example.

In [19]:
import pandas as pd

# Creating Series objects
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Creating DataFrame using the Series objects
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female