Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
a = "rutik"

In [2]:
type(a)

str

In [3]:
b = 4.55

In [4]:
type(b)

float

In [17]:
c = ["rutik",1,2,3,"pwskills"]

In [18]:
type(c)

list

In [7]:
d = ("apple","banna","mango")

In [8]:
type(d)

tuple

Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

1. var1 = ‘ ‘

String

2) var2 = ‘[ DS , ML , Python]’

String

3) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]


List

4) var4 = 1.

Float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

/ - divided

In [21]:
2/4

0.5

% - Modulas

In [25]:
5%4

1

 // - floor division

In [27]:
10//3

3

** - exponentiation

In [28]:
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [36]:
my_list = [10, "Hello", 3.14, True, [1, 2, 3], {"name": "John", "age": 25}, (4, 5, 6), None, 5+2j, False]

for element in my_list:
    print(element, type(element))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'John', 'age': 25} <class 'dict'>
(4, 5, 6) <class 'tuple'>
None <class 'NoneType'>
(5+2j) <class 'complex'>
False <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [46]:
a = 24
b = 3
count = 0
while A % B == 0:
    A /= B
    count += 1
if count > 0:
    print(f"{A} is divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

2.0 is not divisible by 5.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
a = [1,2,3,5,18,4,8,9,7,5]
for i in a :
    if i % 3 == 0:
        print(f"{i} is divisible by 3.")
    else:
        print(f"{i} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
5 is not divisible by 3.
18 is divisible by 3.
4 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
7 is not divisible by 3.
5 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [11]:
a = "Hello"
print(a)  

a += " World"
print(a)

Hello
Hello World

In [12]:
int = [1, 2, 3]
print(int)  # Output: [1, 2, 3]

int.append(4)
print(int)  # Output: [1, 2, 3, 4]

[1, 2, 3]
[1, 2, 3, 4]