In [ ]:
!pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 10.4 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 28.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0

In [ ]:
import pymongo

In [ ]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://rutikgawali:Pass@cluster0.wle4jhn.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [ ]:
uri = "mongodb+srv://rutikgawali:Pass@cluster0.wle4jhn.mongodb.net/?retryWrites=true&w=majority"

In [ ]:
db = client['mydatabase']

In [ ]:
record_one = {"name": "John", "age": 30, "city": "New York"}

In [ ]:
coll_mydatabase = db["mycollection"]

In [ ]:
coll_mydatabase.insert_one(record_one)

##Q4. Using the database and the collection created in question number 3, write a code to insert one record,and insert many records. Use the find() and find_one() methods to print the inserted record.

In [ ]:
records_many = [
    {"name": "Alice", "age": 25, "city": "London"},
    {"name": "Bob", "age": 35, "city": "Paris"},
    {"name": "Emily", "age": 28, "city": "Sydney"}]

In [ ]:
coll_mydatabase = db["mycollection"]

In [ ]:
coll_mydatabase.insert_many(records_many)

In [ ]:
coll_mydatabase.find_one(record_one)

{'_id': ObjectId('649732abc7b843b243e7c536'),
 'name': 'John',
 'age': 30,
 'city': 'New York'}

In [ ]:
for i in coll_mydatabase.find():
  print(i)

{'_id': ObjectId('649732abc7b843b243e7c536'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('649732c7c7b843b243e7c537'), 'name': 'Alice', 'age': 25, 'city': 'London'}
{'_id': ObjectId('649732c7c7b843b243e7c538'), 'name': 'Bob', 'age': 35, 'city': 'Paris'}
{'_id': ObjectId('649732c7c7b843b243e7c539'), 'name': 'Emily', 'age': 28, 'city': 'Sydney'}

##Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

The find() method in MongoDB is used to query the database and retrieve documents that match specific criteria. It allows you to perform various types of searches and apply filters to narrow down the results. Here's a detailed explanation of how you can use the find() method to query the MongoDB database:

In [42]:
coll_mydatabase.find_one(record_one)

{'_id': ObjectId('649732abc7b843b243e7c536'),
 'name': 'John',
 'age': 30,
 'city': 'New York'}

In [30]:
for i in coll_mydatabase.find({'name' : 'John'}):
  print(i)

{'_id': ObjectId('649732abc7b843b243e7c536'), 'name': 'John', 'age': 30, 'city': 'New York'}

##Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method in MongoDB is used to sort the query results based on one or more fields in ascending or descending order. It allows you to arrange the documents in a specific order to facilitate easier analysis or presentation of data.

In [63]:
for i in coll_mydatabase.find().sort("age", pymongo.DESCENDING):
  print(i)

{'_id': ObjectId('649732c7c7b843b243e7c538'), 'name': 'Bob', 'age': 35, 'city': 'Paris'}
{'_id': ObjectId('649732abc7b843b243e7c536'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('649732c7c7b843b243e7c539'), 'name': 'Emily', 'age': 28, 'city': 'Sydney'}
{'_id': ObjectId('649732c7c7b843b243e7c537'), 'name': 'Alice', 'age': 25, 'city': 'London'}

In [64]:
for i in coll_mydatabase.find().sort("age", pymongo.ASCENDING):
  print(i)

{'_id': ObjectId('649732c7c7b843b243e7c537'), 'name': 'Alice', 'age': 25, 'city': 'London'}
{'_id': ObjectId('649732c7c7b843b243e7c539'), 'name': 'Emily', 'age': 28, 'city': 'Sydney'}
{'_id': ObjectId('649732abc7b843b243e7c536'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('649732c7c7b843b243e7c538'), 'name': 'Bob', 'age': 35, 'city': 'Paris'}

##Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one():
The delete_one() method is used to delete a single document that matches a specified filter. It removes the first document that satisfies the given criteria and then stops. If multiple documents match the filter, only the first one encountered will be deleted.

#command
Delete a document with name "John"
mycol.delete_one({"name": "John"})

delete_many():
The delete_many() method is used to delete multiple documents that match a specified filter. It removes all the documents that satisfy the given criteria.

#command
Delete all documents with age greater than 30
mycol.delete_many({"age": {"$gt": 30}})

drop():
The drop() method is used to delete an entire collection from the database. It permanently removes the collection and all its documents. This operation cannot be undone, and the collection needs to be re-created if it needs to be used again.

#command
mycol.drop()